<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350240527591-3ftcfegpqd3pk7c343jh6ac25gscoql2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350240527591-3ftcfegpqd3pk7c343jh6ac25gscoql2</string>
	<key>API_KEY</key>
	<string>AIzaSyCo42T56k0e5-PPOzFFKj2JDTYVPEcnvTw</string>
	<key>GCM_SENDER_ID</key>
	<string>350240527591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled2</string>
	<key>PROJECT_ID</key>
	<string>copia-b6e7c</string>
	<key>STORAGE_BUCKET</key>
	<string>copia-b6e7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350240527591:ios:2c90fdafa9453f8984fe42</string>
</dict>
</plist>